@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
#root {
  font-family: "Poppins";
}
html {
  scroll-behavior: smooth;
}
.nav {
  background-color: black;
  margin-bottom: 0;
}
.home {
  background-color: transparent !important;
  margin-top: 10vh;
}
.App {
  background-color: #292929;
}
.socialicons a {
  padding-left: 5px;
}

footer p {
  color: #000 !important;
  font-weight: bold;
  margin: auto;
}
.submitted {
  color: red;
  margin: 10% 25%;
  border: 2px solid red;
  font-size: 2rem !important;
  padding: 4%;
}
.errorMessage {
  color: red;
  margin: 1%;
}
.projectthumbnail {
  box-shadow: -3px -3px 5px #ffffff70, 3px 3px 15px #00000090;
}
#users {
  min-height: 80vh;
  margin-top: 4%;
}
#users li {
  margin-bottom: 4%;
}
.card-body a {
  padding-left: 20px;
}
.link:hover {
  color: red !important;
}
.sub {
  display: flex;
  justify-content: space-between;
}
.themeswitch {
  display: flex;
}
#themetogglemobile {
  display: none;
}
#blog {
  min-height: 80vh;
  margin-top: 4%;
}
#iblog {
  min-height: 80vh;
  margin-top: 4%;
}
#login form {
  border: 2px solid #292929;
  padding: 5%;
  margin: 4% 12%;
  border-radius: 5%;
  background: #3c3c3c;
  color: #fff;
}
#addpost form {
  border: 2px solid #292929;
  padding: 5%;
  margin: 4% 12%;
  border-radius: 5%;
  background: #3c3c3c;
  color: #fff;
}
#editpost form {
  border: 2px solid #292929;
  padding: 5%;
  margin: 4% 12%;
  border-radius: 5%;
  background: #3c3c3c;
  color: #fff;
}
/* xs */
.profile-image {
  width: 250px;
  height: auto;
}
.blogs-image {
  width: 280px;
  height: auto;
}
.notfound {
  width: 350px;
  height: auto;
}
.lightcard {
  background-color: #e8e8e8 !important;
}
.addblog {
  background-color: red;
  width: 36px;
  height: 36px;
  color: rgb(216, 216, 216);
  font-size: x-large;
  margin: 0 auto;
}
.addblog:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
/* sm */
@media (min-width: 768px) {
  .profile-image {
    width: 300px;
  }
}
/* md */
@media (min-width: 992px) {
  .profile-image {
    width: 350px;
  }
}
/* lg */
@media (min-width: 1200px) {
  .profile-image {
    width: 400px;
  }
}

@media (max-width: 1024px) {
  .home {
    margin-top: 20vh;
  }
}
@media (max-width: 800px) {
  .maintext {
    font-size: 3rem !important;
  }
  .subtext {
    font-size: 2rem !important;
  }
  .home {
    margin-top: 20vh;
  }
}
@media (max-width: 767px) {
  .themeswitch {
    display: block;
  }
  #themetoggle {
    display: none;
  }
  #themetogglemobile {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 660px) {
  .maintext {
    font-size: 2.5rem !important;
  }
  .subtext {
    font-size: 2rem !important;
  }
  #blog .card {
    width: 90%;
  }
  #blog .title {
    font-size: 1.8rem !important;
  }
  #iblog .time {
    font-size: 1rem !important;
  }
  #iblog .description {
    font-size: 1.3rem !important;
  }
  #iblog .content {
    font-size: 1.15rem !important;
  }
}
@media (max-width: 530px) {
  .maintext {
    font-size: 2rem !important;
  }
  .subtext {
    font-size: 1.8rem !important;
  }
  .home {
    margin-top: 30.75vh;
  }
  #about {
    padding: 0 15px;
    margin: 0;
  }
  #about .title {
    font-size: 1.5rem !important;
  }
  #about .content {
    font-size: 1.3rem !important;
  }
  #contact {
    padding: 0 15px;
    margin: 0;
  }
  #contact .title {
    font-size: 1.5rem !important;
  }
  #contact form {
    padding: 0 15px;
    margin: 0;
  }
  #projects {
    padding: 0 15px;
    margin: 0;
  }
  #projects .title {
    font-size: 1.5rem !important;
  }
  #blog .title {
    font-size: 1.6rem !important;
  }
  #blog .card {
    width: 85%;
  }
  #iblog .title {
    font-size: 2.5rem !important;
  }
}
@media (max-width: 435px) {
  .maintext {
    font-size: 1.8rem !important;
  }
  .subtext {
    font-size: 1.6rem !important;
  }
  #blog .title {
    font-size: 1.5rem !important;
  }
  #blog .card {
    width: 90%;
  }
  #iblog .title {
    font-size: 2rem !important;
  }
  #iblog .time {
    font-size: 0.9rem !important;
  }
  #iblog .description {
    font-size: 1rem !important;
  }
  #iblog .content {
    font-size: 1rem !important;
  }
}
@media (max-width: 375px) {
  .maintext {
    font-size: 1.6rem !important;
  }
  .subtext {
    font-size: 1.4rem !important;
  }
  #about .title {
    font-size: 1.4rem !important;
  }
  #about .content {
    font-size: 1.2rem !important;
  }
  #contact .title {
    font-size: 1.4rem !important;
  }
  #projects .title {
    font-size: 1.4rem !important;
  }
  #blog .title {
    font-size: 1.4rem !important;
  }
  #blog .card {
    width: 95%;
  }
}
@media (max-width: 320px) {
  .maintext {
    font-size: 1.4rem !important;
  }
  .subtext {
    font-size: 1.2rem !important;
  }
  #about .content {
    font-size: 1.1rem !important;
  }
}
