@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
#root{
    font-family: 'Poppins';
  }
html {
  scroll-behavior: smooth;
}
.nav {
  background-color: black;
}
.home {
  background-color: transparent !important;
  height: 90vh;
  margin-top: 5vh;
}
.App {
  background-color: #0e0e0e;
}
.socialicons a {
  padding-left: 5px;
}
.brandName:hover{
color : goldenrod !important;
}
.navlink{
  color: white !important;
}
.navlink:hover{
  color: goldenrod !important;
}
footer p{
  color: #000 !important;
  font-weight: bold;
  margin: auto;
}
.submitted{
  color: red;
  margin: 10% 25%;
  border: 2px solid red;
  font-size: 2rem !important;
  padding: 4%;
}
.errorMessage{
  color: red;
  margin: 1%;
}
.profile-image{
  max-height: 400px;
  box-shadow: -3px -3px 5px #ffffff70, 3px 3px 15px #00000090;
}
.projectthumbnail {
  box-shadow: -3px -3px 5px #ffffff70, 3px 3px 15px #00000090;
}
#users{
  min-height: 80vh;
  margin-top: 4%;
}
#users li {
  margin-bottom: 4%;
}
.card-body a {
  padding-left: 20px;
}
.link:hover {
  color: red !important;
}
.sub{
  display: flex;
  justify-content: space-between;
}
#blog{
  min-height: 80vh;
  margin-top: 4%;
}
#bloglink{
  color: white;
  text-decoration: none;
}
#bloglink:hover{
  color: goldenrod !important;
}
#brandName{
  color: white;
  text-decoration: none;
}
#brandName:hover{
  color: goldenrod !important;
}